@import '../../styles/vars';

.App__header {
    display: flex;
    margin: 2rem;
    flex-direction: column-reverse;
    align-items: center;
    
    &__text {
        margin-right: 1em;
        font-size: 1.2rem;
    }

    &__button {
       margin-bottom: 1em;
    }
}
